* {
  margin: 0;
  padding: 0;
}

header ul {
  list-style: none;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  background-color: #f8f8f8;
  border: 2px solid black;
  height: 50px;
}
